.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 328px;
  background-size: cover;
  background-position: center center;

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    -webkit-transform:rotate(360deg);
    border-style: solid;
    border-width: 328px 0 0 100vw;
    border-color: transparent transparent transparent $color-bg-1;
  }

  @media (min-width: $grid-breakpoint-md) {
    height: 860px;

    &:after {
      border-width: 860px 0 0 100vw;
    }
  }

  &.bg-image-benefits {
    background-image: url(img/biszet_bg_freisteller/bg_mobile/768_benefits.jpg);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(img/biszet_bg_freisteller/bg_mobile/768_benefits@2x.jpg);
    }

    @media (min-width: $grid-breakpoint-md) {
      background-image: url(img/biszet_bg_freisteller/backgrounds/1920x860_benefits.jpg);
    }
  }

  &.bg-image-wondersofcool {
    &:after {
      display: none;
    }

    @media (min-width: $grid-breakpoint-md) {
      background: #ecebe7 url(img/biszet_bg_freisteller/backgrounds/bg_benefits_cosmetics_v2.jpg) no-repeat top right;

      &:after {
        display: block;
      }
    }
  }

  &.no-skew {
    &:after {
      display: none;
    }
  }
}