.btn {

  &.btn-primary {
    border: 1px solid $color-red;
    background-color: transparent;
    border-radius: 0;
    font-family: $font-family;
    font-size: 14px;
    line-height: 1;
    color: $color-red;
    text-transform: uppercase;
    padding: 15px 35px 14px 35px;

    &:hover {
      background-color: $color-red;
      color: #fff;
    }
  }

}