$hamburgers-padding-x: 20px;
$hamburgers-padding-y: 20px;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 3px;
$hamburger-layer-color: #f89c2a;
$hamburger-layer-border-radius: 1.5px;

@import "~hamburgers/_sass/hamburgers/hamburgers.scss";
