$font-family: 'Open Sans', sans-serif;

$color-red: #da2541;
$color-orange: #f89c2a;
$color-white: #ebe7e2;
$color-black: #292929;

$color-bg-1: #ebe7e2;
$color-bg-2: #151515;
$color-bg-3: #f1eeeb;
$color-bg-4: #c7c9c4;
$color-bg-5: #ecebe7;

$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;

body {
  padding-top: 60px;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  text-align: left;
  color: #6a6363;
  overflow-x: hidden;

  @media (min-width: $grid-breakpoint-lg) {
    padding-top: 80px;
  }
}

a,
a:visited,
a:hover,
a:active {
  color: $color-red;
}

.bg-1 {
  background-color: $color-bg-1;
}

.bg-2 {
  background-color: $color-bg-2;
}

.bg-3 {
  background-color: $color-bg-3;
}

.bg-4 {
  background-color: $color-bg-4;
}

.bg-5 {
  background-color: $color-bg-5;
}

.color-white {
  color: $color-white;

  a,
  a:hover {
    color: $color-white;
  }
}

.color-black {
  color: $color-black;

  a,
  a:hover {
    color: $color-black;
  }
}

.img-full-lg {
  @media (min-width: $grid-breakpoint-lg) {
    width: auto;
    height: auto;
    max-width: none;
  }
}

.slick-products-small {
  .slick-track {
    margin: 0;
  }
}

@import "atom/hamburgers";
@import "atom/btn";
@import "atom/bg-image";

@import "module/hero";
@import "module/slick";
@import "module/header";
@import "module/footer";
@import "module/home-references";
@import "module/references";
@import "module/imprint";
@import "module/contact";
@import "module/paragraph";
@import "module/image";
@import "module/statement";
@import "module/hero2";
@import "module/content";
@import "module/temperate-zones";
@import "module/gallery";
@import "module/video";
@import "module/youtube";