.module-contact {
  padding-top: 30px;

  @media (min-width: $grid-breakpoint-lg) {
    padding-top: 120px;
  }

  .img-b7 {
    max-width: 100%;
    height: auto;

    @media (min-width: $grid-breakpoint-lg) {
      position: absolute;
      top: 0;
      right: 0;
      width: auto;
      height: auto;
      max-width: none;
      z-index: 0;
    }
  }
  h1 {
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.25;
    color: #151515;
    text-align: left;

    @media (min-width: $grid-breakpoint-lg) {
      font-size: 80px;
    }
  }

  h2 {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.33;
    color: #292929;

    a {
      display: inline-block;
      padding-bottom: 0;
      border-bottom: 2px solid transparent;
    }

    a:hover {
      text-decoration: none;
      border-bottom: 2px solid $color-red;
    }

    @media (min-width: $grid-breakpoint-lg) {
      font-size: 40px;
    }
  }

  p {
    margin: 0 0 80px 0;
  }
}