.module-content {
  h2 {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.25;
    text-align: left;

    &.big {
      @media (min-width: $grid-breakpoint-lg) {
        font-size: 80px;
      }
    }
  }

  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    text-align: left;
  }

  &.hommage {
    position: relative;
    background-image: url(img/biszet_bg_freisteller/bg_mobile/768_home.jpg);
    background-position: top center;
    background-size: auto 450px;
    background-repeat: no-repeat;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(img/biszet_bg_freisteller/bg_mobile/768_home@2x.jpg);
    }

    @media (min-width: $grid-breakpoint-md) {
      background-image: url(img/biszet_bg_freisteller/backgrounds/1920x860_home.jpg);
    }

    &:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      -webkit-transform:rotate(360deg);
      border-style: solid;
      border-width: 450px 0 0 100vw;
      border-color: transparent transparent transparent $color-bg-1;
    }

    @media (min-width: $grid-breakpoint-lg) {
      height: 860px;
      background-size: 1920px 860px;
      padding-top: 60px;

      h2 {
        padding-top: 100px;
      }

      &:before {
        border-width: 860px 0 0 100vw;
      }
    }
  }

  &.elegance {

    background: url(img/biszet_bg_freisteller/bg_mobile/bg_home_references_768.jpg) no-repeat left top;
    background-size: cover;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(img/biszet_bg_freisteller/bg_mobile/bg_home_references_768@2x.jpg);
    }

    @media (min-width: $grid-breakpoint-md) {
      background: url(img/biszet_bg_freisteller/backgrounds/bg_home_references_v2.jpg) no-repeat left top;
      background-size: cover;
    }

    @media (min-width: $grid-breakpoint-lg) {
      & > .container > .row {
        height: 600px;
      }
    }

    h2 {
      margin-top: 240px;

      @media (min-width: $grid-breakpoint-lg) {
        margin-top: 0;
      }
    }
  }

  &.biszet {
    .b7-image {
      background-image: url(img/biszet_bg_freisteller/freisteller/b7_closed_side.png);
      background-repeat: no-repeat;
      background-position: top right 150px;
    }
  }

  &.benefits {
    h2 {
      margin-top: 80px;

      @media (min-width: $grid-breakpoint-lg) {
        margin-top: 260px;
      }
    }
  }

  &.product-head {
    background-image: url(img/biszet_bg_freisteller/bg_mobile/bg_products_head_768.jpg);
    background-repeat: no-repeat;
    background-size: contain;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(img/biszet_bg_freisteller/bg_mobile/bg_products_head_768@2x.jpg);
    }

    @media (min-width: $grid-breakpoint-md) {
      background-image: url(img/biszet_bg_freisteller/backgrounds/bg_products_head.jpg);
    }
  }
}