.footer--order-now {
  background-image: url(img/biszet_bg_freisteller/bg_mobile/bg_cta_768.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-color: #efeae7;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(img/biszet_bg_freisteller/bg_mobile/bg_cta_768@2x.jpg);
  }

  @media (min-width: $grid-breakpoint-lg) {
    background-image: url(img/biszet_bg_freisteller/backgrounds/bg_cta_v2.jpg);
    height: 550px;
    background-position: top left;
  }

  h2 {
    margin-top: 300px;
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.3;
    text-align: left;
    color: #292929;

    @media (min-width: $grid-breakpoint-lg) {
      font-size: 40px;
    }
  }
}

.footer {
  height: 60px;
  background-color: #151515;

  @media (min-width: $grid-breakpoint-lg) {
    height: 80px;
  }

  .footer--logo {
    margin-top: 15px;

    @media (min-width: $grid-breakpoint-lg) {
      margin-top: 25px;
    }
  }

  a {
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;

    &:hover {
      color: $color-red;
      text-decoration: none;
    }

    @media (min-width: $grid-breakpoint-lg) {
      margin-top: 30px;
    }
  }
}