.module-gallery {
  position: relative;

  h1 {
    font-family: $font-family;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.25;
    color: #ebe7e2;
  }

  @media (min-width: $grid-breakpoint-lg) {
    .h1-absolute {
      position: absolute;
      top: 250px;
      left: 540px;
      width: 380px;
      font-size: 80px;
      font-weight: 300;
      font-style: italic;
      line-height: 1.25;
      text-align: left;
    }
  }

  .col {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;

    .hover {
      position: absolute;
      top: 0;
      left: 10px;
      right: 10px;
      bottom: 0;
      background-color: rgba(#151515, .3);
      opacity: 0;
      transition: opacity .5s;

      .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        font-weight: 300;
        font-style: italic;
        text-align: left;
        color: #e6e0da;
      }
    }

    &:hover {
      .hover {
        opacity: 1;
      }
    }
  }

  .no-gutters {
    margin-left: -10px;
    margin-right: -10px;
  }
}