.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fff;
  overflow: hidden;
  transition: height .6s;
  z-index: 9999;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);

  .header--logo {
    margin-top: 15px;
    width: 77px;
    height: 30px;
  }

  .hamburger {
    position: absolute;
    top: 5px;
    right: 0;
    outline: none;
  }

  .header--navigation {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      text-align: center;
      margin-bottom: 45px;

      a {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.39;
        color: #6a6363;

        &:hover {
          color: $color-red !important;
          text-decoration: none;
        }
      }

      &.active {
        a {
          font-weight: 400;
          color: #da2541;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .header--language {
    display: none;
    position: absolute;
    bottom: 17px;
    right: 23px;
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: inline-block;
      margin-right: 20px;

      a {
        font-size: 12px;
        color: #6a6363;

        &:hover {
          color: $color-red;
          text-decoration: none;
        }
      }

      &.active {
        a {
          color: #da2541;
          text-decoration: underline;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &.open {
    height: 100vh;

    .header--navigation,
    .header--language {
      display: block;
    }
  }

  @media (min-width: $grid-breakpoint-lg) {
    height: 80px;

    .hamburger {
      display: none;
    }

    .header--logo {
      margin-top: 20px;
      margin-left: 20px;
      width: 101px;
      height: 40px;
    }

    .header--navigation {
      display: block;
      position: absolute;
      top: 45px;
      left: 200px;

      li {
        display: inline-block;
        margin: 0 40px 0 0;

        a,
        a:visited {
          font-size: 18px;
          font-weight: 300;
          line-height: 1.39;
          text-align: left;
          color: #6a6363;
        }

        &:first-child {
          display: none;
        }
      }
    }

    .header--language {
      display: block;
      top: 20px;
      right: 40px;

      li {
        margin-right: 5px;
      }
    }
  }
}