.module-hero {
  position: relative;

  h1 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.25;
    text-align: left;

    @media (min-width: $grid-breakpoint-lg) {
      font-size: 120px;
      line-height: 1.17;
    }
  }
}