.module-hero2 {
  position: relative;
  padding-top: 270px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;

  @media (min-width: $grid-breakpoint-lg) {
    padding-top: 100px;
    background-size: cover;
  }

  .quotation {
    position: absolute;
    top: -60px;
    left: 30px;
    font-size: 200px;
    font-weight: 300;
    font-style: italic;
    color: #ebe7e2;
    margin-bottom: 40px;
    line-height: 0;
  }

  h2 {
    margin-top: 80px;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.25;
    text-align: left;
    color: #151515;
    margin-bottom: 80px;
  }

  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    color: #292929;
  }

  &.benefits {
    padding-top: 0;
    background-color: #d0c8c5;
    padding-top: 100px;
    background-image: url(img/biszet_bg_freisteller/bg_mobile/bg_benefits_quote_768.jpg);
    
    
   	 @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      	background-image: url(img/biszet_bg_freisteller/bg_mobile/bg_benefits_quote_768@2x.jpg);
    }

	@media (min-width: $grid-breakpoint-lg) {
		background-image: url(img/biszet_bg_freisteller/backgrounds/bg_benefits_quote_v2.jpg);
		padding-top: 270px;
    }
  }
}