.module-home-references {
  position: relative;
  background-color: #151515;
  padding: 40px 0 40px 0;

  .quotation {
    position: absolute;
    top: -60px;
    left: 30px;
    font-size: 200px;
    font-weight: 300;
    font-style: italic;
    color: $color-red;
    margin-bottom: 40px;
    line-height: 0;

    @media (min-width: $grid-breakpoint-lg) {
      font-size: 280px;
    }
  }

  h2 {
    margin-top: 80px;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.25;
    text-align: left;
    color: #ebe7e2;
    margin-bottom: 20px;
    height: 150px;

    @media (min-width: $grid-breakpoint-lg) {
      font-size: 80px;
      margin-top: 120px;
      height: 330px;
      margin-bottom: 80px;
    }
  }

  p {
    color: #ebe7e2;
  }

  .logos {

    @media (min-width: $grid-breakpoint-lg) {
      padding-top: 80px;
    }

    .col-6 {
      height: 80px;
      text-align: center;

      @media (min-width: $grid-breakpoint-lg) {
        height: 100px;
      }
    }
  }
}
