.module-imprint {
  h1 {
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.25;
    color: #151515;
    text-align: left;
    padding: 120px 0;

    @media (min-width: $grid-breakpoint-lg) {
      font-size: 80px;
    }
  }

  h2 {
    margin: 0;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.33;
    color: #292929;
  }

  p {
    margin: 0 0 80px 0;
  }
}