.module-paragraph {
  h1 {
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.25;
    text-align: left;
    color: #292929;
  }

  p {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.57;
    text-align: left;
    color: #6a6363;
  }
}