.module-references {
  h1 {
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.25;
    color: #ebe7e2;
    text-align: left;
    padding: 120px 0;

    @media (min-width: $grid-breakpoint-lg) {
      font-size: 80px;
    }
  }

  .logo {
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 60px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6;
    text-align: left;
    color: #ebe7e2;
  }
}