.module-statement {
  h2 {
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
    text-align: left;
    color: #292929;
    line-height: 1.4;

    .highlight {
      font-size: 42px;
      font-weight: bold;
      font-style: normal;
    }

    @media (min-width: $grid-breakpoint-lg) {
      font-size: 26px;

      .highlight {
        font-size: 42px;
      }
    }

    @media (min-width: $grid-breakpoint-xl) {
      font-size: 30px;

      .highlight {
        font-size: 50px;
      }
    }
  }
}