.module-temperate-zones {
  position: relative;

  @media (min-width: $grid-breakpoint-lg) {
    padding-bottom: 240px !important;
  }

  .product-image {
    display: none;

    @media (min-width: $grid-breakpoint-lg) {
      display: block;
      position: absolute;
      top: -10px;
      left: calc((100vw / 2) - (992px / 2) - 310px);
      z-index: 2;
    }
  }

  .climate-zone {
    position: relative;
    width: 100%;
    height: 140px;
    color: #fff;
    padding-top: 25px;

    @media (min-width: $grid-breakpoint-lg) {
      height: 100px;
    }

    .temperature {
      display: inline-block;
      font-size: 40px;
      font-weight: bold;
      text-align: left;
      line-height: 1;
      color: #ebe7e2;
      padding-left: 40px;

      @media (min-width: $grid-breakpoint-lg) {
        padding-left: 0;
      }
    }

    .description {
      display: inline-block;
      font-size: 12px;
      font-weight: 300;
      line-height: 1.2;
      text-align: left;
      color: #ebe7e2;
      padding-right: 20px;

      @media (min-width: 400px) {
        font-size: 14px;
        line-height: 1.6;
      }

      @media (min-width: $grid-breakpoint-lg) {
        position: absolute;
        top: 50%;
        left: 100px;
        transform: translateY(-50%);
        padding-left: 40px;
      }
    }

    &.climate-zone--1 {
      background-color: #afbacb;
    }

    &.climate-zone--2 {
      background-color: #889fbe;
    }

    &.climate-zone--3 {
      background-color: #5a6f8c;
    }
  }
}